[Unit]
Description=Novanas Backups Queue Worker
After=network.target

[Service]
Type=simple
User=novanas
Group=novanas
WorkingDirectory=/var/novanas

ExecStart=/usr/bin/php /var/novanas/artisan queue:work --sleep=3 --tries=1 --timeout=3600 --queue=backups --max-time=3600
Restart=always
RestartSec=5

KillSignal=SIGTERM
TimeoutStopSec=60

StandardOutput=append:/var/novanas/storage/logs/backups-queue-worker.log
StandardError=append:/var/novanas/storage/logs/backups-queue-worker-error.log

[Install]
WantedBy=multi-user.target
