[Unit]
Description=NovaNAS Update Service

[Service]
Type=oneshot
User=novanas
WorkingDirectory=/var/novanas
ExecStart=/var/novanas/update.sh

StandardOutput=/var/novanas/storage/logs/update.log
StandardError=/var/novanas/storage/logs/update-error.log

[Install]
WantedBy=multi-user.target
